

button.btn {
  display:block;
  margin:0 auto;
  width:135px;
  height:38px;
  margin-top:15px;
  font-size:18px;
  


}
.center{
	text-align:center;
	
}

button.btn:hover{
  width:150px;
  height:42px;
  font-size:21px;
  font-style:bold;
}


legend {

  font-size: 24px;
  color:blue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;

}